.titulo{
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
	background-color: #990000;
	width: 100%;
	height: 20px;
	padding: 5px; 
	border: 0px;
}

.fild{
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	background-color: #990000;
}